.nav__logo {
  display: inline-block;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-header);

  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: var(--accent-color);
}
